<div id="account_tabs">
  <ul class="nav nav-tabs text-center">
    <li class="active"><a href="#portfolio" role="tab" data-toggle="tab">Portfolio </a></li>
    <li><a href="#transactions" role="tab" data-toggle="tab">Transactions </a></li>
  </ul>

  <div class="tab-content">
    <%= render "transactions" %>
    <%= render "portfolio" %>
  </div>
</div>
