<div>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1>Races </h1>
      </div>

      <div class="col-md-4 col-md-push-8">
        <%= render "filter" %>
      </div>

      <div class="col-md-8 col-md-pull-4">
        <%= render "list" %>
        <%= paginate @races %>
        <%= page_entries_info @races %>
      </div>

    </div>
  </div>
</div>
